@using Masterov.Front.Services
@inject AuthService Auth
@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div class="main-layout">
    <nav class="navbar">
        <a href="/">Главная</a>
        @if (_isAuthenticated)
        {
            @if (_isAdmin || _isManager)
            {
                <a href="/admin-panel">Админка</a>
            }

            @if (_isAdmin)
            {
                <a href="/admin-user-panel">Пользователи</a>
            }
            <a href="/main">Главная</a>
            <button @onclick="OnLogout" class="logout-button">Выйти</button>
        }
        else
        {
            <a href="/login">Вход</a>
        }
    </nav>

    <div class="content">
        @Body
    </div>
</div>

@code {
    private bool _isAuthenticated;
    private bool _isAdmin;
    private bool _isManager;
    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await Auth.IsAuthenticated();
        
        var role = await Auth.GetRoleAsync();
        _isAdmin = role is "SuperAdmin" or "Admin";
        _isManager = role is "Manager";
    }

    private async Task OnLogout()
    {
        await Auth.Logout();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
