@inherits LayoutComponentBase

<style>
    .main-content {
        padding-top: 120px; /* высота header */
    }
</style>

<Header/>

<SearchPopup />

<div class="main-content">
    @Body
</div>

@* <Footer /> *@
